# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.venv/

# Logs & runtime
logs/
config/config.json
app.db
user_uploads/
secrets/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# SSH keys
ssh_aviator
ssh_aviator.pub
